body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: url(header.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1{
  color:lightgray;
}

hr{
  border-width: 2px;
  border-color: lightgray;
  width: 3rem;
}

.buffer{
  height: 14rem;
}

.btn{
  border-radius: 250px;
  background-color:grey;
  border-color: white;
}
.btn:hover{
  transition: all 0.3s;
  transform: scale(1.05);
  border-color: white;
}

.btn-xl{
  padding: 0.7rem 1rem;
}